@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Protest+Revolution&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*
{
padding:0; margin:0;
font-family:"Lora";
box-sizing:border-box;
list-style:none;
text-decoration:none;
}

html,
body 
{
width:100%;
height:100%;
}

html 
{
scroll-behavior:smooth;
}
 
body
{
color:#818080;
}

.Topo-Header
{
padding:15px;
background:#44DDCC;
width:100%; 
}

.Topo-Header
.Secondary-Header 
{
width:100%;
max-width:1024px;
margin:0 auto;
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
}

.Topo-Header 
.Secondary-Header 
.Navigation 
{
display:flex;
}

.Topo-Header
.Secondary-Header 
.Navigation
.list-item 
{
margin:0 10px;
}

.Topo-Header 
.Secondary-Header 
.Navigation 
.list-item 
.item 
{
color:#fff;
font-style:italic;
position:relative;
padding:10px;
}

.Topo-Header 
.Secondary-Header 
.Navigation 
.list-item 
.item:hover 
{
background:#fff;
color:#111;
transition:.1s ease-in;
box-shadow:2px 3px 3px inset #c7c7c7;
} 

.Heading-CamelCase
{
text-transform:uppercase;
font-weight:normal;
text-align:center;
font-size:25px;
}
 
.Container-Central
{
width:100%;
max-width:1300px;
margin:0 auto;
height: 100%;
display:flex;
flex-direction:column;
}

.preenchimento-solo
{
padding:40px 0 0 0;
}

.Container-Central 
.Container 
{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}

.Container-Central 
.flex-direcao
{
margin:15px 0 15px 0;
}

.Container-Central 
.Container 
div 
{
width:50%;
text-align:center;
}

.Container-Central 
.Container 
div 
p 
{
font-size:18px;
margin:10px 0;
}

.Container-Central 
.flexible
{
display:flex;
flex-direction:row;
width:100%;
}

.flexible img{
width:300px;
height:100%;
}

.flexible 
table
{
width:75%;
border-spacing:0;
box-shadow:-1px 0 2px #515151;
}

.flexible 
table 
thead 
tr 
th
{
padding:15px;
background:#44DCCD;
color:#fff;
font-size:17px;
text-align:left;
}

.flexible 
table 
tbody 
tr:nth-child(odd) 
{
background:#CDCDCD;
}

.flexible 
table 
tbody
tr:nth-child(even)
{
background:#F1F1F1;
}

.flexible 
table 
tbody 
tr 
td 
{
padding:23px 15px;    
color:#6f6f6f;
font-size:18px;
text-align:left;
}

.flexible 
table 
tbody 
tr
.text-preenchimento 
{
padding:15px;    
}

.flexible 
table 
tbody 
tr 
.preencher-menor
{
padding:15px;
}

.heading-style 
{
font-size:30px;       
}

.font-fort
{
color:gray;
font-weight:bold;    
}

.Rodape-Contact
{
background:#376365;
padding:10px;
text-align:center;
}

.Rodape-Contact 
p
{
color:#fff;
margin:15px 0;
font-size:17px;
}

.Rodape-Contact h2
{
justify-content:center;
}

h2 img{
width:30px;
}

.color-dark
{
color:#111;    
}

.color-dark
h2
{
display:flex;
align-items:center;
}

span{
color:#fff;
}

.Navigation-parts
{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
}

.Navigation-parts 
li 
{
flex:1 1 auto;
}

.Navigation-parts 
li a
{
padding:12px;
text-align:center;
background:#44DCCC;
border-right:1px solid #fff;
border-top:1px solid #fff;
display:block;
}

.Navigation-parts 
li a:hover 
{
background:#fff;
transition:.1s ease-in;
color:#111;
box-shadow:3px 2px 3px inset #c7c7c7;
}

.Navigation-parts 
a
{
color:#fff;
}


::-webkit-scrollbar{
background:#fff;    
width:10px;
}

::-webkit-scrollbar-thumb 
{
background:#6F6F6F; 
border-radius:10px;   
}


@media (max-width:1024px) 
{

.Container-Central
{
height:100%;
margin:0 0 50px 0;
}

.Container-Central 
.flex-direcao
div 
{
line-height:25px;
width:100% !important;
}

}

@media (max-width:768px){

.flex-direcao 
div 
{
width:100% !important;
}    

.Container-Central 
{
margin:10px 0;
}

.Container 
img 
{
display:none;
}

table 
{
width:100% !important;
}

table
thead 
tr
th,
table 
tbody 
tr 
td
{
font-size:16px !important;
padding:12px !important;
}

}

@media (max-width:468px)
{

.Topo-Header
.Secondary-Header 
{
justify-content:center;
} 

.Topo-Header
.Secondary-Header 
.Navigation
.list-item     
{
width:100%;
margin:10px 0;
}

.Heading-CamelCase    
{
font-size:20px;
}

h2
{
font-size:20px !important;
}

p
{
font-size:16px !important;
}

.Container-Central 
{
height:100%;
}    

table
thead 
tr
th,
table 
tbody 
tr 
td    
{
font-size:14px !important;    
} 

.preenchimento-solo
{
padding:0 !important;
}

}

@media only screen and (min-width:769px) and (max-width:1024px){   

.RodapeParagraph
{
display:flex;
}

.RodapeParagraph 
p 
{
box-shadow:2px 3px 3px #185353;
padding:10px;
margin:0 5px;   
}
}

@media (max-height:489px)
{
.Container-Central
{
height: 125%;
}  

}